<div class="row mb-4">
  <div *ngFor="let article of articles" class="col-sm-6 col-md-6 col-lg-4 mt-3">
    <div class="card">
        <img class="card-img-top" [src]="article.imgUrl">
        <div class="card-block">
            <a class="card-title" [style.color]="color" >{{article.titre}}</a>
            <div class="meta card-text">
                {{article.sousTitre}}
            </div>
        </div>
        <div class="card-footer">
            <span class="float-right">{{article.date}}</span>
            <span><i class=""></i>{{article.auteur}}</span>
        </div>
    </div>
  </div>
</div>