<nav class="navbar navbar-expand-md navbar-dark primary-color fixed-top scrolling-navbar">
  <a class="navbar-brand text-white animated bounce font-weight-bold ml-4" id="title" href="#">
    EasyShop
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav text-center " id="list">

      <li class="nav-item mr-3">
        <a class="nav-link text-white" routerLink="/accueil" [routerLinkActive]="['active']">
          Accueil
        </a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link text-white" routerLink="/actualite" [routerLinkActive]="['active']">
          Actualité
        </a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link text-white" routerLink="/magasin" [routerLinkActive]="['active']">
          Magasin
        </a>
      </li>
    </ul>

    <div class="float-right">
      <span *ngIf="loggedIn" class="fi flaticon-notification-2 mr-3" id="notification"></span>

      <div class="btn-group">
          <span class="fi flaticon-user-1 mr-4 dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true" id="login"></span>
          
      
          <div class="dropdown-menu">
              <a *ngIf="!loggedIn" routerLink="/login" class="dropdown-item" href="#"><i class="fi flaticon-logout-2 icon"></i>LogIn</a>
              <a *ngIf="loggedIn" class="dropdown-item" routerLink="/profil"> <i class="fi flaticon-user-avatar-main-picture icon"></i>Mon profil</a>
              <a *ngIf="loggedIn" class="dropdown-item" routerLink="/utils" > <i class="fi flaticon-parameters icon"></i> Mes paramètres</a>
              <div *ngIf="loggedIn" class="dropdown-divider"></div>
              <a *ngIf="loggedIn" class="dropdown-item" (click)="logout($event)" > <i class="fi flaticon-logout icon"></i> LogOut</a>
          </div>
      </div>
    </div>

  </div>
</nav>