<nav class="navbar navbar-expand-md navbar-dark primary-color">
  <a class="navbar-brand text-white animated bounce font-weight-bold ml-4" id="title" href="#">
    EasyShop
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav text-center " id="list">

      <li class="nav-item mr-3">
        <a class="nav-link text-white">
          Acceuil
        </a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link text-white">
          Actualité
        </a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link text-white">
          Magasin
        </a>
      </li>
    </ul>

    <div class="float-right">
      <span class="fi flaticon-notification-2 mr-3" id="notification"></span>
      <span class="fi flaticon-user mr-4" id="login"></span>
    </div>

  </div>
</nav>