@import "/opt/lampp/htdocs/easyShop/src/sass/tools.scss";

.navbar-scroll {
    padding-top: 0;
    padding-bottom: 0;
    background-color: $unique-color-dark;
}

#title{
    font-size: 35px;
    font-family: 'IM Fell English SC';
}
#list {
    display: flex;
    flex-direction: row;
    margin: auto;
}
#list li {
    display: flex;
    flex-direction: row;
    margin: auto;
    font-size: 22px;
    font-family: 'Nunito';
}
#login {
    font-size: 42px;
    color: white;
    cursor: pointer;  
}
#notification {
    font-size: 24px;
    color: white;
    cursor: pointer;
}
.active{
    font-size: 26px;
    font-style: italic;
}
.dropdown-toggle::after {
    border-right: none !important;
    border-top: none !important;
}
.navbar .dropdown-menu{
    margin-left: -152px !important;
    margin-top: -10px !important; 
    border-radius: 30px 00px 20px 30px;
}

.icon{
    font-size: 28px;
    margin-right: 15px;
}
.dropdown-item{
    font-family: 'Nunito';
}