<div class="container-fluid contenetCompte">
    <div class="sticky-top">
        <div class="col-3 nabVertical float-left">
            <nav class="nav flex-column lighten-3 py-5 mb-r z-depth-2">
                <a class="nav-link ml-3 " [ngx-scroll-to]="'#fav'"> <i class="fi flaticon-favorite-heart-button icon"></i> Mes Favouris</a>
                <a class="nav-link ml-3"  [ngx-scroll-to]="'#noti'"> <i class="fi flaticon-notification-1 icon "></i> Notifications</a>
                <a class="nav-link ml-3"  [ngx-scroll-to]="'#para'"> <i class="fi flaticon-wiping-utensils-of-bathroom icon"></i> Mes paramètres</a>
            </nav>
         </div>
    </div>

    <div class="col-md-9 float-right table-responsive bloc mb-5" id="fav" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
        <h3 class="blue-text text-center favouris" id="favouris" > Mes favouris </h3>
        <hr class="ligne">
        <app-favouri [favouris]="favouris"></app-favouri>
    </div>

    <div class="col-md-9 float-right bloc table-responsive mb-5" id="noti"  malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
        <h3 class="blue-text text-center" id="notification"> Mes notifications </h3>
        <hr class="ligne">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque assumenda cumque, odit vitae voluptate animi laborum hic eveniet consectetur ab accusantium? Ea repellat sunt perferendis aliquid eaque pariatur magnam iure?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque assumenda cumque, odit vitae voluptate animi laborum hic eveniet consectetur ab accusantium? Ea repellat sunt perferendis aliquid eaque pariatur magnam iure?</h1>
    </div>
    <div class="col-md-9 float-right bloc table-responsive mb-5" id="para"  malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
        <h3 class="blue-text text-center"  id="parametre"> Mes paramètres </h3>
        <hr class="ligne">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque assumenda cumque, odit vitae voluptate animi laborum hic eveniet consectetur ab accusantium? Ea repellat sunt perferendis aliquid eaque pariatur magnam iure?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque assumenda cumque, odit vitae voluptate animi laborum hic eveniet consectetur ab accusantium? Ea repellat sunt perferendis aliquid eaque pariatur magnam iure?</h1>
    </div>
</div>