<div class="card mb-5" id="pageActualite">
  <!--Card image-->
  <div class="view overlay img-fluid z-depth-2 rounded">
      <img id="imgCard" src="{{urlImg}}" class="img-fluid">
  </div>
  <div class="card-img-overlay text-center d-flex align-items-center rgba-black-strong py-5 px-4">
      <p class="white-text para">
            <div>
                    <h3 class="card-title pt-2 white-text"><strong>This is card title</strong></h3>
                    <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                        optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                        Odit sed qui, dolorum!.</p>
                    <a class="btn btn-info h2" [ngx-scroll-to]="'actualite'" ><i class="fi flaticon-star "></i> Voir l'actualité</a>
                </div>
  </div>
</div>

<div  class="container" id="actualite">

    <h1 class="text-center blue-text"> Actualités </h1>
    <hr class="ligne">
    <app-article
        [articles]="articles">
    </app-article>          
</div>
<app-footer></app-footer>