<div class="card mb-5" id="pageActualite">
  <!--Card image-->
  <div class="view overlay img-fluid z-depth-2 rounded">
      <img id="imgCard" src="{{urlImg}}" class="img-fluid">
  </div>
  <div class="card-img-overlay justify-content-center align-items-center rgba-black-strong">
      <h1 class="white-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab tempora impedit unde libero voluptatem error voluptatum aliquid praesentium illo, dignissimos iste est quia, quo, quaerat quasi vero voluptate reiciendis odio?</h1>
      
      <button class="btn btn-info btn btnActualite ml-5"> Nouvelles Actualités </button>
  </div>
</div>

<div  class="container">

    <h1 class="text-center blue-text"> Actualités </h1>
    <hr class="ligne">
    <app-article
        [articles]="articles">
    </app-article>          
</div>