<div class="container">
    <h1 class="blue-text"> Pourquoi EasyShop?  </h1>
    <p class="para">
        L'idée nous est venu d'un constat de notre vie de tous les jours, nous cherchons toujours des produits au meilleur prix et
      de meilleur qualité. Pour cela nous parcourons tous les magasins existants dans notre voisinage et nous comparons.
      Nous trouvant pas sur internet une application répondant à notre besoin, on s'est proposé de la réaliser nous même et
      d'en faire profiter le maximum de gens.
      Nous proposons un service qui facilite le moyen par lequel les achats sont effectués. Nous proposons un service 
      interactif de recherche de magasin ou produit. Vous êtes assisté par un chatbot avec qui vous interragissez pour 
      obtenir des informations sur les produits qui vous interessent. Et cerise sur le gateau, notre service 
      est complétement gratuit!
    </p>
</div>

<app-footer></app-footer>