<div class="container">
    <h1 class="blue-text"> Qui sommes nous ? </h1>
    <p class="para">
        EasyShop est une plateforme d'aide à l'achat pour les clients qui sont éxigeants. Notre plateforme fournit un assistant intelligent
        sous forme d'un chatbot pour une conversation interactive comme si vous étiez près du vendeur et ceci sans bouger de chez vous.
        Choisissez parmis plusieurs magasins partenaires et des milliers de produits en tout genre. Facilitez-vous la vie en créant
        compte chez nous. Vous pourrez enregistrer vos magasins ou produits favoris, être notifié de l'arrivée d'un nouveau produit,
        être prévenu de la disponibilité d'un produit étant en rupture de stock et bien d'autres avantages encore. N'attendez pas
        pour nous rejoindre, notre service est complétement gratuit!
    </p>

    <h3 >Membres fondateurs:</h3>

    <!-- Ali-->
    <div class="container mb-4">
      <div class="row">
          <div class=" col-3 card testimonial-card p-2 mb-5 ml-5">
              <div class="avatar mx-auto white"><img src="assets/images/equipe/3.jpg" class="rounded-circle"> </div>
              <div class="card-body">
                  <h4 class="card-title">YEDDADEN Ali</h4>
                  <hr>
                  <p><i class="fa fa-quote-left"></i> Étudiant en 4ème année à l'ESI </p>
              </div>
            </div>
          <!-- Rabah -->
            <div class="col-3 card testimonial-card p-2 mb-5 ml-5">
              <div class="avatar mx-auto white"><img src="assets/images/equipe/1.jpg" class="rounded-circle"> </div>
              <div class="card-body">
                  <h4 class="card-title">HADJEBAR Rabah</h4>
                  <hr>
                  <p><i class="fa fa-quote-left"></i> Étudiant en 3ème année à l'ESI </p>
              </div>
            </div>

            <div class=" col-3 card testimonial-card p-2 mb-5 ml-5">
              <div class="avatar mx-auto white"><img src="assets/images/equipe/2.jpg" class="rounded-circle"> </div>
              <div class="card-body">
                  <h4 class="card-title">MANNAOUIL Karim </h4>
                  <hr>
                  <p><i class="fa fa-quote-left"></i> Étudiant en 3ème année à l'ESI </p>
              </div>
            </div>
            <div class=" col-3 card testimonial-card p-2 mb-5 ml-5">
                <div class="avatar mx-auto white"><img src="assets/images/equipe/2.jpg" class="rounded-circle"> </div>
                <div class="card-body">
                    <h4 class="card-title">RACHEDI Abdenour</h4>
                    <hr>
                    <p><i class="fa fa-quote-left"></i> Étudiant en 4ème année à l'ESI </p>
                </div>
              </div>
            <!-- Rabah -->
              <div class="col-3 card testimonial-card p-2 mb-5 ml-5">
                <div class="avatar mx-auto white"><img src="assets/images/equipe/1.jpg" class="rounded-circle"> </div>
                <div class="card-body">
                    <h4 class="card-title">TERZI Mourad</h4>
                    <hr>
                    <p><i class="fa fa-quote-left"></i> Étudiant en 4ème année à l'ESI </p>
                </div>
              </div>
  
              <div class=" col-3 card testimonial-card p-2 mb-5 ml-5">
                <div class="avatar mx-auto white"><img src="assets/images/equipe/2.jpg" class="rounded-circle"> </div>
                <div class="card-body">
                    <h4 class="card-title">MENDIL Ismail</h4>
                    <hr>
                    <p><i class="fa fa-quote-left"></i> Étudiant en 4ème année à l'ESI </p>
                </div>
              </div>
      </div>
    </div>
</div>


<app-footer></app-footer>