@import "/opt/lampp/htdocs/easyShop/src/sass/tools.scss";

.clearfix
{
    width: 600px;
}
.prix{
    font-size: 20px;
    color: $warning-color-dark;
}
.img-fluid {
    width: 400px;
}
.card-footer {
    background-color: $ng-acceuil;
    color: white;
}
.card-header{
    background-color: $ng-acceuil;
    color: white; 
}
.card-body{
    height: 140px;
}
.cardContainer{
    height: 100%;
}
.title {
    font-size: 24px;
    font-family: 'Nunito';
}