@import "/opt/lampp/htdocs/easyShop/src/sass/tools.scss";

.card-title{
    font-size: 25px;
    font-family: 'Nunito';
}
.imgInfo {
    height: 159px;
    width: 197px;
}
.card-text {
    height: 75px;

}
