<!-- Footer -->
<footer class="page-footer font-small blue pt-4 mt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-8 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="title mr-5">EasyShop chatbot</h5>
          <p>assistant d'achat en ligne pour ceux qui sont exigeants</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Liens Utiles</h5>
  
          <ul class="list-unstyled">
            <li ngx-scroll-to [ngx-scroll-to-offset]="-3000">
              <a routerLink="/accueil">Accueil</a>
            </li>
            <li ngx-scroll-to [ngx-scroll-to-offset]="-3000">
              <a routerLink="/pourquoiEasyShop">Pourquoi EasyShop ?</a>
            </li>
            <li ngx-scroll-to [ngx-scroll-to-offset]="-3000">
              <a routerLink="/quiSommesNous">Qui sommes-nous?</a>
            </li>
            <li ngx-scroll-to [ngx-scroll-to-offset]="-3000">
              <a routerLink="/contact">Contact</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->