@font-face {
    font-family: "Flaticon";
    src: url("../assets/fonts/flaticon/Flaticon.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
.fi:before{
    display: inline-block;
font-family: "Flaticon";
font-style: normal;
font-weight: normal;
font-variant: normal;
line-height: 1;
text-decoration: inherit;
text-rendering: optimizeLegibility;
text-transform: none;
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;
}

.flaticon-talking:before { content: "\f100"; }
.flaticon-communication:before { content: "\f101"; }
.flaticon-notification-2:before { content: "\f102"; }
.flaticon-notification-1:before { content: "\f103"; }
.flaticon-notifications-button:before { content: "\f104"; }
.flaticon-user-1:before { content: "\f105"; }
.flaticon-man-user:before { content: "\f106"; }
.flaticon-notification:before { content: "\f107"; }
.flaticon-user:before { content: "\f108"; }
.flaticon-user-avatar-main-picture:before { content: "\f109"; }
.flaticon-menu-1:before { content: "\f10a"; }
.flaticon-menu:before { content: "\f10b"; }

$font-Flaticon-talking: "\f100";
$font-Flaticon-communication: "\f101";
$font-Flaticon-notification-2: "\f102";
$font-Flaticon-notification-1: "\f103";
$font-Flaticon-notifications-button: "\f104";
$font-Flaticon-user-1: "\f105";
$font-Flaticon-man-user: "\f106";
$font-Flaticon-notification: "\f107";
$font-Flaticon-user: "\f108";
$font-Flaticon-user-avatar-main-picture: "\f109";
$font-Flaticon-menu-1: "\f10a";
$font-Flaticon-menu: "\f10b";