@font-face {
    font-family: "Flaticon";
    src: url("../assets/fonts/flaticon/Flaticon.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
.fi:before{
    display: inline-block;
font-family: "Flaticon";
font-style: normal;
font-weight: normal;
font-variant: normal;
line-height: 1;
text-decoration: inherit;
text-rendering: optimizeLegibility;
text-transform: none;
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;
}

.flaticon-send-message-button:before { content: "\f100"; }
.flaticon-sent-mail:before { content: "\f101"; }
.flaticon-mic-vintage-style:before { content: "\f102"; }
.flaticon-microphone:before { content: "\f103"; }
.flaticon-vintage-mic:before { content: "\f104"; }
.flaticon-communication:before { content: "\f105"; }
.flaticon-notification-2:before { content: "\f106"; }
.flaticon-notification-1:before { content: "\f107"; }
.flaticon-talking:before { content: "\f108"; }
.flaticon-notification:before { content: "\f109"; }
.flaticon-user-avatar-main-picture:before { content: "\f10a"; }
.flaticon-menu-1:before { content: "\f10b"; }
.flaticon-menu:before { content: "\f10c"; }
.flaticon-user:before { content: "\f10d"; }
.flaticon-man-user:before { content: "\f10e"; }
.flaticon-notifications-button:before { content: "\f10f"; }
.flaticon-user-1:before { content: "\f110"; }

$font-Flaticon-send-message-button: "\f100";
$font-Flaticon-sent-mail: "\f101";
$font-Flaticon-mic-vintage-style: "\f102";
$font-Flaticon-microphone: "\f103";
$font-Flaticon-vintage-mic: "\f104";
$font-Flaticon-communication: "\f105";
$font-Flaticon-notification-2: "\f106";
$font-Flaticon-notification-1: "\f107";
$font-Flaticon-talking: "\f108";
$font-Flaticon-notification: "\f109";
$font-Flaticon-user-avatar-main-picture: "\f10a";
$font-Flaticon-menu-1: "\f10b";
$font-Flaticon-menu: "\f10c";
$font-Flaticon-user: "\f10d";
$font-Flaticon-man-user: "\f10e";
$font-Flaticon-notifications-button: "\f10f";
$font-Flaticon-user-1: "\f110";