<!--Card-->
<div class="card mb-5" id="pageAcceuil">
    <!--Card image-->
    <div class="view overlay img-fluid z-depth-2 rounded">
        <img id="imgCard" src="{{srcImg}}" class="img-fluid">
    </div>
    <div class="card-img-overlay d-flex justify-content-center align-items-center rgba-black-strong">
        <div class="float-left">
            <img id="Icon" src="{{srcIcon}}" class="img-fluid">
        </div>
        <div class="float-right">
          <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa voluptate nulla harum dolorem minus officiis eum optio nostrum quibusdam, corporis quasi, vitae molestias tempore ea aspernatur ipsam eius sed est.</p>
        </div>
    </div>
  </div>