<!--Card-->
<div class="card mb-5" id="pageAcceuil">
    <!--Card image-->
    <div class="view overlay img-fluid z-depth-2 rounded">
        <img id="imgCard" src="{{srcImg}}" class="img-fluid">
    </div>
    <div class="card-img-overlay d-flex justify-content-center align-items-center rgba-black-strong">
        <div class="col-4 float-left">
            <img id="icon" src="{{srcIcon}}" class="img-fluid rounded-circle z-depth-5">
        </div>
        <div class="col-8 float-right">
            
          <div class="jumbotron">
              <h1 class="h1-reponsive mb-3 blue-text"><strong> Chatbot for sales </strong></h1>
              <p class="lead">EasyShop est une plateforme d'aide à l'achat. Avec notre assistant intelligent, l'achat n'a jamais été aussi facile.
                    Parcourez des milliers de boutiques pour trouver le meilleur article au meilleurs prix.
                    Que vous cherchiez un ordinateur, des chaussures ou même un parfum, EasyShop chatbot vous assiste avec son robot intelligent.
                    Conversez avec lui comme si vous étiez en magasin tranquillement de chez vous.</p>
              <hr class="my-4">
              <p>Rejoignez la communauté des EasyShoppers et profitez des avatages de notre application
              </p>
          </div>

          <div class="text-center">
              <button type="button" class="btn col-3 btn-info" id="btnChat" [ngx-scroll-to]="'chat'"> 
                <i class="fi flaticon-communication iconChat"></i> Commencer </button>
          </div>

        </div>
    </div>
</div>

<div class="container mb-2" id="chat">
    <div class="col-3 float-left mt-5 rounded-circle">
            <img id="imgChat" src="{{urlChat}}" class="img-fluid">
    </div>
    <div class="col-9 float-right">
        <app-chat></app-chat>
    </div>
</div>

<app-footer></app-footer>